
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      html,
      body,
      #my-player,
      .video-js {
        margin: 0;
        width: 100%;
        height: 100%;
      }
      .bmpui-ui-watermark {
        display: none;
      }
    </style>
    
<div id="my-player"></div>
<div id="id" style="display: none;">2a1f95625ecb43238bed2edf11cca7ae</div>
<script type="text/javascript" src="https://cdn.bitmovin.com/player/web/8.72.0/bitmovinplayer.js"></script>
<script src="//unpkg.com/xhook@latest/dist/xhook.min.js"></script>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<script>
    window.xhook.before((i,n)=>{
        i.url.includes("licensing.bitmovin.com") && (i.url = i.url.replace("licensing.bitmovin.com", "analytics-ingress-global.bitmovin.com")),
        n()
    }
    )
</script>

<script type="text/javascript">
const container = document.getElementById('my-player');
const id = document.getElementById('id').innerHTML;
const playerConfig = {
    key: 'b03269cd-793c-48c6-83b4-2f080b6737db',
    remotecontrol: {
          type: 'googlecast',
        },
    style: {
        width: '100%',
        aspectratio: '16:9',
        controls: true
    },
    skin: {
        screenLogoImage: ""
    },
    playback : {
        autoplay: true,
        muted: false,
        playsInline: true,
        preferredTech: [{
            player: 'html5',
            streaming: 'dash'
        }, {
            player: 'native',
            streaming: 'hls'
        }]
    }
};


const source = {
          dash: "https://linear01-playback.sooka.my/CH1/masterCH1.mpd",
         drm: {
            clearkey: [
              {
                key: '9687d91b7fd647a88183d0a4cc925f77',
                kid: 'b3ccf73a7a664f85ae7411367ffb2fa7'
              },
            ],
          },
        };

const player = new bitmovin.player.Player(container, playerConfig);
player.load(source).then(
    player => {
        console.log('Successfully created Bitmovin Player instance')
    },
    reason => {
        console.log('Error while creating Bitmovin Player instance')
    }
);
</script>
